<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoFile {{s}}</title>
</head>

<body style="margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="320"
        style="border: none; border-collapse: collapse; font-family:  Arial, sans-serif; font-size: 14px; line-height: 1.5;">
        <h1 style="text-align: center;"><strong>CryptoFile</strong></h1>
        <p>Hi <strong style="color: black;">{{name}}</strong>, Welcome to CryptoFile just now you have {{s}} a file with name <strong style="color: rgb(12, 11, 11);">{{file}}</strong></p>
        
        <!-- <p>Encryption Date :<strong style="color: rgb(19, 17, 17);">{{date}}</strong> </p> -->
        
        <p> Date&Time : <strong style="color: rgb(12, 11, 11);">{{time}}</strong> </p>

        <p>with username : <strong style="color: rgb(10, 10, 10);">{{user}}</strong></p>
        


</body>

</html>